
registry=https://registry.npm.taobao.org
sass_binary_site=https://npm.taobao.org/mirrors/node-sass
phantomjs_cdnurl=http://cdn.npm.taobao.org/dist/phantomjs
puppeteer_download_host=https://storage.googleapis.com.cnpmjs.org
@cmao:registry=https://cnpm.codemao.cn/
//cnpm.codemao.cn/:_password="d15nSFJHMjRYZnM2NzM2ZipzejNMZw=="
//cnpm.codemao.cn/:username=developer
//cnpm.codemao.cn/:email=luoyunzhi@codemao.cn
//cnpm.codemao.cn/:always-auth=true
mozjpeg_binary_site=https://npm.taobao.org/mirrors/mozjpeg-bin
optipng_binary_site=https://npm.taobao.org/mirrors/optipng-bin
ELECTRON_MIRROR=http://npm.taobao.org/mirrors/electron/
sentrycli_cdnurl=https://npm.taobao.org/mirrors/sentry-cli

@frontend:registry=https://gitlab.codemao.cn/api/v4/packages/npm/
@crc:registry=https://gitlab.codemao.cn/api/v4/packages/npm/
//gitlab.codemao.cn/api/v4/packages/npm/:_authToken="DpxyCQ57AR2sewoH7zyr"
